<a href="https://colab.research.google.com/github/rekhachakkara/python_learning/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#PandaS iv a python library uSed to aalyze data
#padaS haS two typeS of claSSeS for handling data
# claSSeS > SerieS >> one dimenSional array holding any type of daTA Such aS integer,String and python objectS
#SerieS = pd.SerieS(data,index=index)
# Dataframe >> two dimenSional data Structure holding two dimenSional array or a table with rowS and columnS
#dataframe can hold any data from a vpreadSheet or from Sql record or from any two dimenSional array
#dataframe iS commonly uSed claSS in panda
#dataframe = pd.Dataframe(data)


# acceSSing data uSing SerieS
import numpy as np
import pandas as pd
value1 = pd.Series([1, 3, 5, np.nan, 6, 8])
value2 = pd.Series([1,2,3])
print(value1)
print(value2)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
0    1
1    2
2    3
dtype: int64

In [14]:
#acceSSing data uving dataframe
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
value_1 = pd.DataFrame(data)
print(value_1)
#to locate specific data using loc attribute return row 0
print("row 0" ,value_1.loc[0])

   calories  duration
0       420        50
1       380        40
2       390        45
row 0 calories    420
duration     50
Name: 0, dtype: int64