<a href="https://colab.research.google.com/github/rekhachakkara/python_learning/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PandaS iv a python library uSed to aalyze data
#padaS haS two typeS of claSSeS for handling data
# claSSeS > SerieS >> one dimenSional array holding any type of daTA Such aS integer,String and python objectS
#SerieS = pd.SerieS(data,index=index)
# Dataframe >> two dimenSional data Structure holding two dimenSional array or a table with rowS and columnS
#dataframe can hold any data from a vpreadSheet or from Sql record or from any two dimenSional array
#dataframe iS commonly uSed claSS in panda
#dataframe = pd.Dataframe(data)


# acceSSing data uSing SerieS
import numpy as np
import pandas as pd
value1 = pd.Series([1, 3, 5, np.nan, 6, 8])
value2 = pd.Series([1,2,3])
print(value1)
print(value2)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
0    1
1    2
2    3
dtype: int64

In [ ]:
#acceSSing data uving dataframe
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
value_1 = pd.DataFrame(data)
print(value_1)
#to locate specific data using loc attribute return row 0
print("row 0" ,value_1.loc[0])

   calories  duration
0       420        50
1       380        40
2       390        45
row 0 calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
#panda Dataframe from excel file

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [46]:
import pandas as pd
data = pd.read_excel("/content/drive/MyDrive/Data_set_rekha/data1.xlsx")

#data.head()  #display first 5 row from the table
#data.tail()   #display last 5 rowv from the table but can also pass a custom number
#data.tail(3) # diplay last 3 records froom the table

#using dataframe too read the data from excel

data2 = pd.DataFrame(data)
print(data2)

    id  player       year  lg team   ab    r
0   80   89474  finlest01   1  COL   43   94
1   81   89480  embreal01   1  OAK    4    0
2   82   89481  edmonji01   1  SLN  117  365
3   83   89482  easleda01   1  NYN   76  193
4   84   89489  delgaca01   1  NYN  139  538
5   85   89493  cormirh01   1  CIN    6    0
6   86   89494  coninje01   2  NYN   21   41
7   87   89495  coninje01   1  CIN   80  215
8   88   89497  clemero02   1  NYA    2    2
9   89   89498  claytro01   2  BOS    8    6
10  90   89499  claytro01   1  TOR   69  189
11  91   89501  cirilje01   2  ARI   28   40
12  92   89502  cirilje01   1  MIN   50  153
13  93   89521  bondsba01   1  SFN  126  340
14  94   89523  biggicr01   1  HOU  141  517
15  95   89525  benitar01   2  FLO   34    0
16  96   89526  benitar01   1  SFN   19    0
17  97   89530  ausmubr01   1  HOU  117  349
18  98   89533   aloumo01   1  NYN   87  328
19  99   89534  alomasa02   1  NYN    8   22

In [16]:
#Merge , join , concenate , compare
import pandas as pd
sheet1 = pd.read_excel("/content/drive/MyDrive/Data_set_rekha/data1.xlsx")
sheet2 = pd.read_excel("/content/drive/MyDrive/Data_set_rekha/test.xlsx")
sheet1_data = pd.DataFrame(sheet1)
sheet2_data = pd.DataFrame(sheet2)
sheet_datas = [sheet1_data,sheet2_data]
data_result = pd.concat(sheet_datas)
print(data_result)
#print(data_result.loc[6])
#using merge
#data_merge_value = pd.merge(sheet1_data, sheet2_data, on="id", how="outer", indicator=True)
#print(data_merge_value)

      id   player       year   lg team     ab      r   Name  Marks
0   80.0  89474.0  finlest01  1.0  COL   43.0   94.0    NaN    NaN
1   81.0  89480.0  embreal01  1.0  OAK    4.0    0.0    NaN    NaN
2   82.0  89481.0  edmonji01  1.0  SLN  117.0  365.0    NaN    NaN
3   83.0  89482.0  easleda01  1.0  NYN   76.0  193.0    NaN    NaN
4   84.0  89489.0  delgaca01  1.0  NYN  139.0  538.0    NaN    NaN
5   85.0  89493.0  cormirh01  1.0  CIN    6.0    0.0    NaN    NaN
6   86.0  89494.0  coninje01  2.0  NYN   21.0   41.0    NaN    NaN
7   87.0  89495.0  coninje01  1.0  CIN   80.0  215.0    NaN    NaN
8   88.0  89497.0  clemero02  1.0  NYA    2.0    2.0    NaN    NaN
9   89.0  89498.0  claytro01  2.0  BOS    8.0    6.0    NaN    NaN
10  90.0  89499.0  claytro01  1.0  TOR   69.0  189.0    NaN    NaN
11  91.0  89501.0  cirilje01  2.0  ARI   28.0   40.0    NaN    NaN
12  92.0  89502.0  cirilje01  1.0  MIN   50.0  153.0    NaN    NaN
13  93.0  89521.0  bondsba01  1.0  SFN  126.0  340.0    NaN    NaN
14  94.0  89523.0  biggicr01  1.0  HOU  141.0  517.0    NaN    NaN
15  95.0  89525.0  benitar01  2.0  FLO   34.0    0.0    NaN    NaN
16  96.0  89526.0  benitar01  1.0  SFN   19.0    0.0    NaN    NaN
17  97.0  89530.0  ausmubr01  1.0  HOU  117.0  349.0    NaN    NaN
18  98.0  89533.0   aloumo01  1.0  NYN   87.0  328.0    NaN    NaN
19  99.0  89534.0  alomasa02  1.0  NYN    8.0   22.0    NaN    NaN
0    NaN      NaN        NaN  NaN  NaN    NaN    NaN  rekha   90.0
1    NaN      NaN        NaN  NaN  NaN    NaN    NaN    len   25.0
2    NaN      NaN        NaN  NaN  NaN    NaN    NaN    abc   78.0